/**{



 border: 1px solid #73AD21;
}*/
body{
  color:#337ab7;
  margin-left: 10%;
  margin-right: 10%;
}

.centerd{
  height: auto;
  width: 30%;
  margin: 0 auto;
}


.location_list li{
  cursor: pointer;
  text-align: center;
  color: #39739d;
  background-color: #e1ecf4;
  padding: .25em .5em;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.4;
  white-space: nowrap;
  display: inline-block;
  border-radius: 0;
  border: 1px solid #e1ecf4;
  float: none;
}

.glyphicon-eye-open{
  top: -21px;
  left: -8px;
  display: inline-block;
  float: right;
}

.topnav{
  float:right
}

button{
  height: 60px;
}

.home_btn{
  margin-top: 20%;
  width: 32%;
  height: 120px;
}

#sign_in,#sign_up{
  margin-left: 20%;
  margin-right: 20%;
}

.uiBoxRed {
  text-align: center;
  font-size:18px;
  margin-top: 15px;
  padding: 10px;
  color:black;
  background-color: #ffebe8;
  border: 1px solid #dd3c10;]
}
.credential_messages2{
  font-size:15px;
  margin-top: 5px;
  font-weight: lighter;
}

.signin_header{
  margin-bottom: 16px;
}

#messageTable{
  margin-left: 15%;
  margin-right: 15%;
}

#messageTable tr{
  /*border: 1px solid #73AD21;*/
  height:60px;
  padding:10px;

}

.star{
  color: #ccc;
	text-align: center;
	display: block;
}


.star, .ckbox{
  margin-top: 149%;
}

.importantMessage{
  color:#5cb85c
}
.panel-body {
    padding: 0px;
}
.panel-heading{
  font-size:18px;
}

.star-checked {
	color: #F0AD4E;
}
